 /* 3d Login page| css */

.neumorphic{
     background: #e0e5ec;
     box-shadow: 10px 10px 20px #a3b1c6,
     -10px -10px 20px #ffffff;
     border-radius: 20px;

}

.neumorphic-card{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 30px;
     width: 300px;
     text-align: center;
}

.neumorphic-card h1{
     color: black;
     text-transform: capitalize;

}

.neumorphic-card input{
     width: 100%;
     height: 50%;
     background: transparent;
     border: none;
     margin-top: 30px;
     padding: 20px;
     border-radius: 23px;
     margin-bottom: 10px;
     outline: none;
     box-shadow: 10px 10px 20px #a3b1c6,
     -10px -10px 20px #ffffff;
     font-size: 16px;
     color: black;
}

button{
     width: 100%;
     margin-top: 20px;
     background: #ffffff;
     color: #000000;
     font-weight: 600;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     border-radius: 23px;
     font-size: 16px;
     border: 2px solid transparent;
     transition: 0.3s ease;

}

button:hover{
     color: blue;
     border-color:blue ;
     background: rgba(255, 255, 255,0.15);

}



 